body{
    background-color: forestgreen;
}

header{
    background-color: burlywood;
}

h1{
    font-size: 4rem;
}

img{
    height: 250px;
    width:400px;
}

.aboutUs{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    flex-
}

.type1{
    height: 400px;
    width: 200px;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}