body {
  background-color: salmon;
  color: white;

}

img {
  height: 100px;
  width: 150px;
}

li {
  font-size: 12px;
}

.desserts {
  font-size: 20px;
}

#confections {
  list-style-type: circle;
  color: magenta;

}
